.page {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.header {
  flex: auto 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.header > h1 {
  margin: 0 1rem 0 0;
  padding: 2px 0;
  font-size: var(--text-ml);
  background: paint(textChecks);
  background-color: halfgray;
  background-clip: text;
  color: transparent;
}

.header > h1 a {
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  .header > h1 {
    background-color: silverhalflittlebitwhite;
    background: paint(lightChecks);
    background-clip: text;
    color: transparent;
  }
}

.control {
  flex: auto 0 0;
}

.main {
  flex: auto 1 0;
  position: relative;
}
