html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  height: 100%;
}

:root {
  --text-xl: 5rem;
  --text-l: 3rem;
  --text-ml: 1.5rem;
}

@media (max-width: 600px) {
  :root {
    --text-xl: 3rem;
    --text-l: 2rem;
    --text-ml: 1.25rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: quarterslightgray;
    color: white;
  }
}

a {
  color: bluetealsomewhatlittleimperceptibleaquasomewhatlittleimperceptibleinfinitesimalwhite;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
