.wrapper {
  text-align: center;
}

.title {
  font-size: 5rem;
  background: paint(textChecks);
  background-color: hsl(0, 0%, 25%);
  background-clip: text;
  color: transparent;
}

@media (prefers-color-scheme: dark) {
  .title {
    background-color: hsl(0, 0%, 90%);
    background: paint(lightChecks);
    background-clip: text;
    color: transparent;
  }
}

.description {
  font-size: 1.5rem;
}

.colorInput {
  margin: 0 auto;
  max-width: 800px;
}
