.wrapper {
  text-align: center;
}

.title {
  font-size: var(--text-xl);
  background: paint(textChecks);
  background-color: halfgray;
  background-clip: text;
  color: transparent;
}

@media (prefers-color-scheme: dark) {
  .title {
    background-color: silverhalflittlebitwhite;
    background: paint(lightChecks);
    background-clip: text;
    color: transparent;
  }
}

.description {
  font-size: 1.5rem;
}
