.wrapper {
  display: grid;
  grid-template:
    "input is random" auto
    "name name name" minmax(8rem, auto)
    "share share share" auto / auto 1fr auto;
  gap: 0.5rem;
}

.input input {
  font-size: var(--text-l);
  color: halfbitgray;
}

.is {
  margin-left: 1rem;
  font-size: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.colorWrapper {
  grid-area: name;
  position: relative;
}

.colorName {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  font-size: var(--text-l);
  font-weight: bold;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  overflow-wrap: break-word;
}

.light {
  background: silverhalfquarterbitslightwhite;
  background: paint(lightChecks);
}

.dark {
  background: quartersomewhatslightimperceptiblegray;
  background: paint(darkChecks);
}

.typingColorName::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

.random {
  grid-area: random;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.random button {
  font-size: var(--text-ml);
  font-weight: bold;
  background-color: silverhalfquarterbitslightwhite;
  border: 1px solid grayquartersomewhatslightsilver;
  color: halfbitgray;
  border-radius: 0.25rem;
  touch-action: manipulation;
}

.share {
  grid-area: share;
}
